body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.map {
  width: 100vw;
  height: 100vh;
  position: relative;
}

.location-icon {
  font-size: 2rem;
  color: red;
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;
}

.location-marker:hover {
  cursor: pointer;
}

.location-info {
  position: absolute;
  top: 50px;
  right: 50px;
  width: 400px;
  min-height: 150px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  z-index: 100;
  padding: 20px;
  border: 1px solid white;
  border-radius: 15px;
}
